extends template/_template

block variables
  - var title = 'Коворкинг в технопарке'


block content
  include common/_header
  include common/_slider-main
  include common/_innovation-center
  include common/_technopark
  include common/_advantages
  include common/_your-coworking
  include common/_developments
  include common/_slider-bottom
  include common/_footer 
