extends template/_template

block variables
  - var title = 'Коворкинг в технопарке'


block content
  include common/_header
  include common/_slider-main
  include common/_innovation-center
<<<<<<< HEAD
  include common/_technopark

=======

  include common/_advantages
>>>>>>> 5a74a5d0792602149ed8f3c02ba706191422e1c4
  include common/_your-coworking
  include common/_developments
  include common/_slider-bottom
  include common/_footer 
