extends template/_template

block variables
  - var title = 'Коворкинг в технопарке'


block content
  include common/_header
  include common/_coworking_residents
  include common/_search
  include common/_coworking_sections
  include common/_footer 
  include common/modals/_modal_resident
  include common/modals/_modal_participant
  include common/modals/_modal_coworking