.btn {
	display: inline-block;
	border-radius: 6px;
	font-family: 'GothamPro-Medium';
	font-size: 24px;
	text-align: center;
	padding: 19px;
	// margin: 0 0 @sp 0;
	min-width: 290px;
	transition: all 0.2s;
	letter-spacing: -1px;
	cursor: pointer;
	
	&_green {
		background-color: @green;
		color: @gray; 
		
		&:hover {
			background-color: lighten(@green, 10%);
		}
	}
	
	&_gray {
		background-color: @gray;
		color: @green; 
		text-shadow: 1px 1px 0px rgba(2, 2, 2, 0.45);

		&:hover {
			background-color: darken(@gray, 10%);
		}
	}

	&_shadow {
		box-shadow: 1px 1px 0px 0px rgba(2, 2, 2, 0.62);
	}


}

@media (max-width: 1175px) {
	.btn {
		// padding: 19px;
	}
}

@media (max-width: 991px) {
	.btn {
		// padding: 19px;
	}

}

@media (max-width: 655px) {
	.btn {
		width: 100%;
	}
}

@media (max-width: 385px) {
	.btn {
		// padding: 10px;
		// font-size: 20px;
	}
}

