.slider-main {
	height: 670px;
	
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		width: 100%;
		padding: 50px 0 35px;
		height: 100%;
	}
	.w90 {
		height: 100%; 
		width: 90%;
	}
	&__elem {
		position: relative;
		height: 670px;
		
		// & .container {
		// 	height: 100%;
		// 	width: 90%;	
		// }
		
		
		&-bg {
			position: absolute;
			background-position: center center;
			background-size: cover;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// box-shadow: inset 0px 0px 300px -24px rgba(0,0,0,0.49);
			
			// &:after {
			// 	content: '';
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 100%;
			// 	background-color: rgba(0,0,0,.4);
			// }
		}
	}
	&_technopark {
		.slider-main__container {
				width: 100%;
		}
	}

	&__logo {
		position: absolute;
		top: 50px;
		left: 0;
		
		&-img {
			width: 115px;
			height: 81px;
		}
	}

	& .title {
		position: relative;
		text-shadow: 1px 1px 1px #020202;
		line-height: 1;
		margin-bottom: 70px;
	}

	&__btn-block {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		position: relative;
		//flex: 1;
		
		& .btn {
			white-space: nowrap;
			margin-right: @sp*2;
			margin-bottom: 0;
			min-width: 296px;
		}
	}
}

@media (max-width: 1065px) {
	.slider-main {
		& .title {
			font-size: 40px;
		}		
	}
}

@media (max-width: 832px) {
	.slider-main {
		&__btn-block {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
			& .btn {
				padding: 10px;
				&:first-child {
					margin-bottom: 10px;
				}
				&:last-child {
					margin-top: 0px;
				}
			}
		}
	}
}  

@media (max-width: 794px) {
	.slider-main {
		&__logo {
			margin-bottom: 85px;
		}			
	}
} 

@media (max-width: 780px) {
	.slider-main {
		& .title {
			font-size: 35px;
		}		
	}
} 

@media (max-width: 690px) {
	.slider-main {
		&__btn-block {
			& .btn {
				margin-right: 0;
			}
		}		
		& .title {
			font-size: 25px;
			line-height: 1.2;
		}
	}
}

@media (max-width: 495px) {
	.slider-main {
		&__btn-block {
			& .btn {
				padding: 10px;
				font-size: 20px;
			}
		}
		.btn {
			padding: 10px;
			font-size: 20px;
		}		
	}
}

@media (max-width: 380px) {
	.slider-main {
		&__btn-block {
			& .btn {
				min-width: 242px;
			}
		}		
	}
}