.technopark {
	min-height: 790px;
	padding-top: 50px;
	background-color: @dark;
	background-image: url(../img/technopark.png);
	background-position: center center;
	background-size: cover;
	
	& .title {
		margin-bottom: 120px;
	}

	&__tile {
		margin-bottom: @sp*4;
		height: 111px;
	}

	&__tiles {
		margin-bottom: @sp*4;
	}
	
	&__number {
		font-family: 'GothamPro-Bold';
		font-size: 72px;
		color: @green;
		text-align: center;
		margin-bottom: @sp/5;
	}

	&__text {
		font-family: 'GothamPro-Medium';
		text-align: center;
		font-size: 24px;
		line-height: 1.2;
		color: #fff;
		
		&_margin-botoom {
			margin-bottom: 90px;
		}
		
		span {
			color: @green;
		}
		
		&_big {
			font-size: 30px;
		}
	}
}

