.technopark {
	padding: 45px 0 50px;
	background-color: @dark;
	background-image: url(../img/technopark.png);
	background-position: center center;
	background-size: cover;

	&__tile {
		margin-bottom: @sp*4;
		height: 111px;
	}

	&__tiles {
		margin-bottom: 60px;
	}
	
	&__number {
		font-family: 'GothamPro-Bold';
		font-size: 72px;
		color: @green;
		text-align: center;
		margin-bottom: @sp/5;
		text-shadow: 0px 1px 0px rgba(2, 2, 2, 0.004);
	}

	&__text {
		padding: 0 10px; 
		font-family: 'GothamPro-Medium';
		text-align: center;
		font-size: 20px;
		line-height: 1.2;
		color: #fff;
		text-shadow: 0px 1px 0px rgba(2, 2, 2, 0.004);
		
		p {
			padding: 0;
			margin: 0;
		}
		
		
		&_margin-botoom {
			margin-bottom: 40px;
		}
		
		.yellow {
			color: @green;
		}
		
		&_big {
			font-size: 30px;
			letter-spacing: -1px;
			
			sup {
				font-size: 0.55em;
			}
		}
	}
}
@media (max-width: 925px) {
	.technopark {
		&__number {
			font-size: 50px;
		}
		&__text_big {
			font-size: 20px;
		}
	}
}
@media (max-width: 767px) {
	.technopark {
		&__tile {
			margin-bottom: 0px;
			height: auto;
		}
		

		&__text {
			margin-bottom:20px;
			font-size: 18px;
		}
		& .col-xs-12 {
			&:last-child {
				.technopark__tile {
					margin-bottom: 0;
				}
			}	
		}
	}
	.slider-main__elem_technopark {
		& .title {
			margin-bottom: @sp !important; 
		}
		.technopark__tiles {
			margin-bottom: 20px;
		}
		
	}
}
@media (max-width: 690px) {
	.slider-main__elem_technopark {
		.technopark__text_boot {
			font-size: 15px;
		}
	}
}
@media (max-width: 495px) {
	.slider-main__elem_technopark {
		.technopark__text_boot {
			font-size: 14px;
		}
		.btn {
			min-width: auto;
			padding-left: @sp;
			padding-right: @sp;
		}
		
	}
	.technopark__tile {
		margin-bottom: 0px;
		height: auto;
		.technopark__text {
			margin-bottom: 5px;
		}
	}
	.technopark__text {
		margin-bottom:15px;
		font-size: 18px;
	}
	.technopark__tiles {
			margin-bottom: 15px;
	}
}
