section
  #modal_excursion.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          a.close.modal__close(href="#" data-dismiss='modal') 
            i.mdi.mdi-close 
          h4.modal-title Посетить экскурсию
        .modal-body
          .modal__form
              .form-group-wrap
                .form-group
                  label(for='name') Ф.И.О. *
                  input#name.form-control(type='text')
                .form-group
                  .radio
                    input.modal__radio-input(type='radio', name='modal-radio', checked)
                    label Организация
                  .radio
                    input.modal__radio-input(type='radio', name='modal-radio')
                    label Частное лицо
                  .radio
                    input.modal__radio-input(type='radio', name='modal-radio')
                    label ИП
                .form-group
                  label(for='company') Компания
                  input#company.form-control(type='text')
                .form-group
                  label(for='name') Телефон *
                  input#name.form-control(type='text') 
                .form-group
                  label(for='name') Электронная почта *
                  input#name.form-control(type='text') 
                .form-group
                  label(for='modal-select').modal-select 
                    span.modal-select__text Сфера интересов
                    select#modal-select.form-control
                        option Выберите
                        option Биомедицинские технологии
                        option Информационные технологии
                        option Космические технологии и телекоммуникации
                        option Энергоэффективные технологии 
                        option Ядерные технологии 

        .modal-footer
          a.btn.btn_gray(data-dismiss='modal') Отправить