section
	.advantages 
		.container 
			<h1 class="title">Оцените 9 преимуществ за 1 минуту</h1>
				.advantages__list 
					.row
						.col-sm-4.col-xs-6
							.advantages__item
								.advantages__item-img
									img(src="img/png/green-1.png")
								.advantages__item-text Удобные рабочие места
						.col-sm-4.col-xs-6
							.advantages__item
								.advantages__item-img
									img(src="img/png/green-2.png")
								.advantages__item-text Доступ 24/7
						.col-sm-4.col-xs-6
							.advantages__item
								.advantages__item-img
									img(src="img/png/green-3.png")
								.advantages__item-text Быстрый Интернет
						.col-sm-4.col-xs-6
							.advantages__item
								.advantages__item-img
									img(src="img/png/green-4.png")
								.advantages__item-text Переговорные и зоны для встреч
						.col-sm-4.col-xs-6
							.advantages__item
								.advantages__item-img
									img(src="img/png/green-5.png")
								.advantages__item-text Юридический адрес
						.col-sm-4.col-xs-6
							.advantages__item
								.advantages__item-img
									img(src="img/png/green-6.png")
								.advantages__item-text Сканеры, принтеры, копиры
						.col-sm-4.col-xs-6
							.advantages__item
								.advantages__item-img
									img(src="img/png/green-7.png")
								.advantages__item-text Зоны комфортного отдыха
						.col-sm-4.col-xs-6
							.advantages__item
								.advantages__item-img
									img(src="img/png/green-8.png")
								.advantages__item-text Кухня с кофе и чаем
						.col-sm-4.col-xs-6
							.advantages__item
								.advantages__item-img
									img(src="img/png/green-9.png")
								.advantages__item-text Льготный доступ к площадке Хакспейса
				.advantages__btns
					<a class="btn btn_gray btn_shadow" href="#">Посетите экскурсию</a>
					.advantages__btns-or или
					<a class="btn btn_gray btn_shadow" href="#" data-toggle="modal" data-target="#modal_resident">Станьте резидентом</a>