section
	.coworking
		.container
			h1.title.title_left Коворкинг в Технопарке Сколково
			.row.coworking__wrap
				.col-lg-6.col-sm-6.col-xs-12.coworking__text-column
					.coworking__text-wrap
						.coworking__text.coworking__text_big Получите полный доступ к возможностям Сколково. Работайте с единомышленниками, заводите новые связи, партнеров, получайте вдохновение...
						.coworking__text.coworking__text_big Экономьте собственное время и ресурсы для вхождения в инновационную экосистему.
					.btns-clock
						a(href="#", data-toggle="modal", data-target="#modal_resident").btn.btn_green Стать резидентом
				.col-lg-6.col-sm-6.col-xs-12.coworking__text-column
					.coworking__text-wrap
						.coworking__text <b>Обсуждайте</b> возможности коммерциализации проекта с вашим проектным менеджером или проводите встречи с инвесторами, не выходя из Технопарка
						.coworking__text <strong>Представляйте</strong> собственные продукты зарубежным и российским делегациям, а также ключевым партнерам Фонда
						.coworking__text <strong>Пользуйтесь</strong> услугами центров коллективного пользования и лабораторий, которые размещаются в Технопарке
						.coworking__text <b>Будьте</b> в курсе всех мероприятий, проходящих в Технопарке и принимайте в них участие
