section
  .coworking-sections
    .container
      .row
        .col-xs-12
          h1.title.title_left А
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile.active
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text А3 групп
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text АДЛ Заканчивание
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text Айкьюнерджи
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text Акустическая заморозка Акустическая заморозка
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text АО «Физтех»
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text АМТ
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/rcbi.png")
            .coworking-sections__text АрСи БиАй
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text Аэртрон

      .row
        .col-xs-12
          h1.title.title_left Б
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text А3 групп
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text АДЛ Заканчивание
 
      .row
        .col-xs-12
          h1.title.title_left В
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text А3 групп
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text АДЛ Заканчивание
        .col-lg-4.col-sm-6.col-xs-12
          a(href="#").coworking-sections__tile
            .coworking-sections__img 
              img(src="img/svg/briefcase.svg")
            .coworking-sections__text АДЛ Заканчивание