section
	.developments 
		.container
			.developments__wrap
				.developments__title События Коворкинга
				.row
					.col-sm-4 
						.developments__item 
							.developments__item-title Коворкинги Москвы собрались в «Сколково»
							.developments__item-date 2 июня 2017
							.developments__item-text
								span  31 мая в Технопарке «Сколково» прошла встреча коворкингов Москвы. Мероприятие было приурочено к открытию в Технопарке «Сколково» собственного коворкинга, который станет своеобразной точкой притяжения как для резидентов, так и для гостей Инновационного центра.  
							
							a(href="#").developments__item-link Подробнее
					.col-sm-4 
						.developments__item 
							.developments__item-title Коворкинги Москвы собрались в «Сколково»
							.developments__item-date 2 июня 2017
							.developments__item-text
								span 31 мая в Технопарке «Сколково» прошла встреча коворкингов Москвы. Мероприятие было приурочено к открытию в Технопарке «Сколково» собственного коворкинга, который станет своеобразной точкой притяжения как для резидентов, так и для гостей Инновационного центра. 
							
							a(href="#").developments__item-link Подробнее

					.col-sm-4 
						.developments__item 
							.developments__item-title Коворкинги Москвы собрались в «Сколково»
							.developments__item-date 2 июня 2017
							.developments__item-text
								span 31 мая в Технопарке «Сколково» прошла встреча коворкингов Москвы. Мероприятие было приурочено к открытию в Технопарке «Сколково» собственного коворкинга, который станет своеобразной точкой притяжения как для резидентов, так и для гостей Инновационного центра. 
							
							a(href="#").developments__item-link Подробнее

