footer.footer
	.container
		.footer__content
			.footer__content-one
				.col-lg-2 
					.footer__content-title Кластеры
					ul
						li
							a(href="#") ИТ
						li
							a(href="#") БиоМед
						li
							a(href="#") ЭнергоТех
						li
							a(href="#") ЯдерТех
						li
							a(href="#") Космо
				.col-lg-2 
					.footer__content-title Город
					ul
						li
							a(href="#") Генеральный план
						li
							a(href="#") Конкурсы
						li
							a(href="#") Как добраться
				.col-lg-2
					.footer__content-title Технопарк
					ul
						li
							a(href="#") О технопарке
						li
							a(href="#") Офисы и лабаратории
						li
							a(href="#") Сервисы
						li
							a(href="#") НИОКР Сервисы
						li
							a(href="#") Резиденты
						li
							a(href="#") Контакты
				.col-lg-2
					.footer__content-title Образование
					ul
						li
							a(href="#") Сколковский институт науки и технологий
						li
							a(href="#") Открытый университет Сколково
				.col-lg-2
					.footer__content-title Инфрастурктура
					ul
						li
							a(href="#") Таможенно-финансовая компания
						li
							a(href="#") Центр интеллектуальной собственности
				.col-lg-2
					.footer__content-title Коммуникации
					ul
						li
							a(href="#") Общество и СМИ
			.footer__content-two
				.col-lg-1 
					a(href="/").logo-gray
				.col-lg-8.col-lg-offset-1
					.footer__center-block
						.footer__center-block-top
							a(href="#") Пользовательское соглашение
							a(href="#") Контактная информация 
							a(href="#") Фонд Сколково ©2017
				.col-lg-2
					.footer__soc-block
						a(href="#").footer__soc-block-link
							i.mdi.mdi-rss
						a(href="#").footer__soc-block-link
							i.mdi.mdi-instagram
						a(href="#").footer__soc-block-link
							i.mdi.mdi-vk
						a(href="#").footer__soc-block-link
							i.mdi.mdi-facebook
			.footer__content-three 
				.col-lg-12 
					span Круглосуточная помощь: 
					a(href="tel:+74958255555") +7 495 82 55555 <br>
					span Горячая линия Фонда «Сколково» по противодействию коррупции и хищениям (конфиденциальность гарантируется)


