header.header
	a(href="#").logo
		img(src="img/logo.png", alt="logo")
	.header__container-fluid
		.row
			.col-xs-12
				nav.header__nav
					ul.header__list
						li.header__elem
							a(href="http://sk.ru/technopark").header__link Технопарк
						li.header__elem
							a(href="http://sk.ru/technopark/b/weblog").header__link Новости
						li.header__elem
							a(href="https://sk.ru/technopark/residents").header__link Резиденты
						li.header__elem
							a(href="#").header__link.active Коворкинг
						li.header__elem
							a(href="http://sk.ru/technopark/events").header__link Галерея событий
						li.header__elem
							a(href="http://sk.ru/events").header__link Календарь
						li.header__elem
							a(href="http://sk.ru/news/b/photos").header__link Галерея
						li.header__elem
							a(href="#slider-reviews").header__link Отзывы


	.header__pull-right
		a(href="tel:+7 495 82 55555").header__pull-right-tell +7 495 82 55555<br>
		a(href="mailto:info@sk.ru").header__pull-right-email info@sk.ru

	.dropdown-menu
		a(href="#").dropdown-menu__link
			.dropdown-menu__link__close-btn


