header.header
	a(href="#").logo
		img(src="img/logo.png", alt="logo")
	.container
		.row
			.col-xs-12
				.row
					nav.header__nav
						ul.header__list
							li.header__elem
								a(href="#").header__link Технопарк
							li.header__elem
								a(href="#").header__link Новости
							li.header__elem
								a(href="#").header__link Резиденты
							li.header__elem
								a(href="#").header__link.active Коворкинг
							li.header__elem
								a(href="#").header__link Галерея событий
							li.header__elem
								a(href="#").header__link Календарь
							li.header__elem
								a(href="#").header__link Галерея
							li.header__elem
								a(href="#").header__link Отзывы
							li.header__elem
								a(href="#").header__link English version
	.dropdown-menu
		a(href="#").dropdown-menu__link
			.dropdown-menu__link__close-btn


