section
	.innovation-center
		h1.title.title_small Инновационный центр Сколково
		.container
			.row
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__number 400
						.innovation-center__text.innovation-center__text_big гектаров инноваций
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__number 1724
						.innovation-center__text.innovation-center__text_big компании
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__number 130
						.innovation-center__text.innovation-center__text_big миллиардов рублей выручка компаний
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__number 5
						.innovation-center__text.innovation-center__text_big направлений
			.row.innovation-center__tile-small
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__icon 
							img(src="img/png/briefcase.png", alt="")
						.innovation-center__text Модернизация<br> российской экономики
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__icon 
							img(src="img/png/man.png", alt="")
						.innovation-center__text Экосистема<br>для развития<br> предпринимательства
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__icon 
							img(src="img/png/like.png", alt="")
						.innovation-center__text Успех<br>на международном рынке
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__icon 
							img(src="img/png/hand.png", alt="")
						.innovation-center__text Грантовая поддержка
			.row.innovation-center__tile-small
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__icon 
							img(src="img/png/think.png", alt="")
						.innovation-center__text Центр интеллектуальной <br>собственности
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__icon 
							img(src="img/png/planet.png", alt="")
						.innovation-center__text Международные события
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__icon 
							img(src="img/png/city.png", alt="")
						.innovation-center__text Умный город
				.col-lg-3.col-sm-6.col-xs-12
					.innovation-center__tile
						.innovation-center__icon 
							img(src="img/png/brain.png", alt="")
						.innovation-center__text Среда для инновационных<br>открытий
		.container
			.row
				.col-xs-12
					.btns-clock-center
						a(href="#").btn.btn_gray.btn_center Узнать подробности
