section
  .innovation-center
    h1.title.title_small Инновационный центр Сколково
    .container
      .row
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__number 400
            .innovation-center__text.innovation-center__text_big гектаров инноваций
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__number 1700+
            .innovation-center__text.innovation-center__text_big Участников Сколково
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__number 130
            .innovation-center__text.innovation-center__text_big миллиардов рублей выручка компаний
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__number 25+
            .innovation-center__text.innovation-center__text_big миллиардов рублей привлеченных инвестиций
      .row
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__number 70+
            .innovation-center__text.innovation-center__text_big индустриальных партнеров
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__number 1000+
            .innovation-center__text.innovation-center__text_big мероприятий в год
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__number 18
            .innovation-center__text.innovation-center__text_big НИОКР центров
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__number 5
            .innovation-center__text.innovation-center__text_big технологичных направлений
      .row
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__icon
              img(src='img/png/hand.png', alt='')
            .innovation-center__text Грантовая поддержка
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__icon
              img(src='img/png/think.png', alt='')
            .innovation-center__text
              | Центр интеллектуальной 
              br
              | собственности 
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__icon
              img(src='img/png/briefcase.png', alt='')
            .innovation-center__text
              | Налоговые и таможенные 
              br
              | льготы
        .col-lg-3.col-sm-6.col-xs-12
          .innovation-center__tile
            .innovation-center__icon
              img(src='img/png/brain.png', alt='')
            .innovation-center__text Пул экспертов и менторов
      .btns-clock-center.innovation-center_btns
                a.btn.btn_gray.btn_center(href="#", data-toggle="modal", data-target="#modal_resident") Стать резидентом
                .advantages__btns-or или
                a.btn.btn_gray.btn_center(href="#", data-toggle="modal", data-target="#modal_excursion") Посетить экскурсию
