section
	.search
		.container
			.row
				.col-xs-12
					.search__wrap
						input(type="text", placeholder="Введите название компании").search__input
						.search__magnifier
							a(href='#').mdi.mdi-magnify.search__link