section
	.slider-reviews 
			a(name="slider-reviews").slider-reviews__ancoranchor
			.slider-reviews__title Отзывы участников
			.slider-reviews__wrap
				.slider-reviews__slide
					.slider-reviews__slide-img
						img(src="img/slider-reviews/photo1.png", alt="фото1")
					.slider-reviews__slide-text
						p "Коворкинг для моей небольшой компании - решение сразу целого скопа проблем: Сколковский юридический адрес, рабочее место, принтер, кофе. А лично для меня самое главное, большое количество друзей и людей, которым не всё равно, работающих в Технопарке и других Сколковских зданиях".
						strong Алексей Стрыгин
						p Генеральный директор ООО «Крино»
				.slider-reviews__slide
					.slider-reviews__slide-img
						img(src="img/slider-reviews/photo2.png", alt="фото2")
					.slider-reviews__slide-text
						p "Коворкинг для моей небольшой компании - решение сразу целого скопа проблем: Сколковский юридический адрес, рабочее место, принтер, кофе. А лично для меня самое главное, большое количество друзей и людей, которым не всё равно, работающих в Технопарке и других Сколковских зданиях".
						strong Алексей Стрыгин
						p Генеральный директор ООО «Крино»				
				.slider-reviews__slide
					.slider-reviews__slide-img
						img(src="img/slider-reviews/photo3.png", alt="фото3")
					.slider-reviews__slide-text
						p "Коворкинг для моей небольшой компании - решение сразу целого скопа проблем: Сколковский юридический адрес, рабочее место, принтер, кофе. А лично для меня самое главное, большое количество друзей и людей, которым не всё равно, работающих в Технопарке и других Сколковских зданиях".
						strong Алексей Стрыгин
						p Генеральный директор ООО «Крино»
				.slider-reviews__slide
					.slider-reviews__slide-img
						img(src="img/slider-reviews/photo4.png", alt="фото4")
					.slider-reviews__slide-text
						p "Коворкинг для моей небольшой компании - решение сразу целого скопа проблем: Сколковский юридический адрес, рабочее место, принтер, кофе. А лично для меня самое главное, большое количество друзей и людей, которым не всё равно, работающих в Технопарке и других Сколковских зданиях".
						strong Алексей Стрыгин
						p Генеральный директор ООО «Крино»