section
	.slider-main
		.slider-main__wrap
			.slider-main__elem
				.slider-main__elem-bg(style="background-image:url(img/slider.jpg)")

				.container
					.row
						.col-xs-12 
							.slider-main__logo
								img(src="img/logo_2.png", alt='logo').slider-main__logo-img
							h1.title.title_white.title_left Коворкинг в Технопарке <br>Ваш первый шаг в Сколково
							a(href="#").btn.btn_green Стать резидентом
							a(href="#").btn.btn_green Посетить экскурсию
			.slider-main__elem
				.slider-main__elem-bg(style="background-image:url(img/slider.jpg)")
				.container
					.row
						.col-xs-12
							.slider-main__logo
								img(src="img/logo_2.png", alt='logo').slider-main__logo-img
							h1.title.title_white.title_left Коворкинг в Технопарке <br>Ваш первый шаг в Сколково
							a(href="#").btn.btn_green Стать резидентом
							a(href="#").btn.btn_green Посетить экскурсию




			//- 	.slider-main__container
			//- 		.slider-main__logo
			//- 			img(src="img/logo_2.png", alt='logo').slider-main__logo-img
			//- 		h1.title.title_white.title_left Коворкинг в Технопарке <br>Ваш первый шаг в Сколково
			//- 		.slider-main__btn-block
			//- 			a(href="#").btn.btn_green Стать резидентом
			//- 			a(href="#").btn.btn_green Посетить экскурсию
			//- .slider-main__elem
			//- 	.slider-main__elem-bg(style="background-image:url(img/slider.jpg)")
			//- 	.slider-main__container
			//- 		.slider-main__logo
			//- 			img(src="img/logo_2.png", alt='logo').slider-main__logo-img
			//- 		h1.title.title_white.title_left Коворкинг в Технопарке <br>Ваш первый шаг в Сколково
			//- 		.slider-main__btn-block
			//- 			a(href="#").btn.btn_green Стать резидентом
			//- 			a(href="#").btn.btn_green Посетить экскурсию


