section
	.slider-main
		.slider-main__wrap
			.slider-main__elem
				.container.w90
					.slider-main__elem-bg(style="background-image:url(img/slider.jpg)")
					.slider-main__container.slider-main__container_title-left
						.slider-main__logo
							img(src="img/logo_2.png", alt='logo').slider-main__logo-img
						h1 Коворкинг в Технопарке <br>Ваш первый шаг в Сколково
						.slider-main__btn-block
							a(href="#", data-toggle="modal", data-target="#modal_resident").btn.btn_green Стать резидентом
							a(href="#", data-toggle="modal", data-target="#modal_excursion").btn.btn_green Посетить экскурсию 
			.slider-main__elem.slider-main__elem_2
				.container
					.slider-main__elem-bg(style="background-image:url(img/technopark.png)")
					.slider-main__container
						div.technopark__text
							p Посетите <span class="yellow">самый большой в Восточной Европе</span>
							h1 Технопарк Сколково
						.container
							.row.technopark__tiles
								.col-lg-4.col-sm-4.col-xs-12
									.technopark__tile
										.technopark__number 95000
										.technopark__text.technopark__text_big м<sup>2</sup> науки и бизнеса
								.col-lg-4.col-sm-4.col-xs-12
									.technopark__tile
										.technopark__number 250
										.technopark__text.technopark__text_big компаний-резидентов
								.col-lg-4.col-sm-4.col-xs-12
									.technopark__tile
										.technopark__number 300
										.technopark__text.technopark__text_big мероприятий в год
						.container
							.row
								.col-xs-12
									.technopark__text.technopark__text_margin-botoom.technopark__text_boot 
										p Для успешной реализации ваших инновационных и креативных замыслов мы предоставляем все самое необходимое: комплекс офисов и лабораторий, коворкинг, хакспейс, чистые и удобные комнаты, ЦКП, зал-трансформер
						.container
							.row
								.col-xs-12
									.btns-clock-center
										a(href="#", data-toggle="modal", data-target="#modal_resident").btn.btn_green.btn_center.btn_shadow Cтать резидентом




