section
	.slider-bottom 
		
			.slider-bottom__title Резиденты коворкинга
			.slider-bottom__wrap
				.slider-bottom__slide
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-1.png", alt="лого1")
				.slider-bottom__slide 
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-2.png", alt="лого2")
				.slider-bottom__slide 
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-3.png", alt="лого3")
				.slider-bottom__slide 
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-4.png", alt="лого4")

				.slider-bottom__slide
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-1.png", alt="лого1")
				.slider-bottom__slide 
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-2.png", alt="лого2")
				.slider-bottom__slide 
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-3.png", alt="лого3")
				.slider-bottom__slide 
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-4.png", alt="лого4")

				.slider-bottom__slide
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-1.png", alt="лого1")
				.slider-bottom__slide 
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-2.png", alt="лого2")
				.slider-bottom__slide 
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-3.png", alt="лого3")
				.slider-bottom__slide 
					.slider-bottom__slide-img
						img(src="img/png/sl-logo-4.png", alt="лого4")
				
