section
	.technopark
		.technopark__text Посетите <span>самый большой в Восточной Европе</span>
		h1.title.title_big.title_white Технопарк Сколково
		.container
			.row.technopark__tiles
				.col-lg-4.col-sm-4.col-xs-12
					.technopark__tile
						.technopark__number 95000
						.technopark__text.technopark__text_big м<sup>2</sup> науки и бизнеса
				.col-lg-4.col-sm-4.col-xs-12
					.technopark__tile
						.technopark__number 250
						.technopark__text.technopark__text_big компаний-резидентов
				.col-lg-4.col-sm-4.col-xs-12
					.technopark__tile
						.technopark__number 300
						.technopark__text.technopark__text_big мероприятий в год
		.container
			.row
				.col-xs-12
					.technopark__text.technopark__text_margin-botoom Для успешной реализации ваших инновационных и креативных замыслов мы предоставляем все самое необходимое: комплекс офисов и лабораторий, коворкинг, хакспейс, чистые и удобные комнаты, ЦКП, зал-трансформер
		.container
			.row
				.col-xs-12
					.btns-clock-center
						a(href="#", data-toggle="modal", data-target="#modal_resident").btn.btn_green.btn_center.btn_shadow Cтать резидентом