.container
	.row
		.col-xs-12(style=" min-height: 200px")
			
			p кнопки
			a(href="#").btn.btn_green Зеленая кнопка
			a(href="#").btn.btn_gray Серая кнопка

			p заголовки
			h1.title Стандартный заголовок
			h1.title.title_left Стандартный заголовок прижатый влево
			h1.title.title_white Стандартный белый заголовок
			h1.title.title_big Стандартный большой заголовок