section
	.container
		.your-coworking 
			h1.title Выберите свой Коворкинг
			.sandwich 
				.sandwich__select
					span Для участников проекта создания и обеспечения функционирования ИЦ «Сколково» (без юридического адреса)
					.sandwich__select-btn
						i.mdi.mdi-chevron-down

				ul.sandwich__list 
					li#forId-1.sandwich__item.select Участникам проекта создания и обеспечения функционирования ИЦ «Сколково» (без юридического адреса)
					li#forId-2.sandwich__item Иным лицам
					li#forId-3.sandwich__item Участникам и соискателям проекта «Сколково»
				

			#id-1.your-coworking__item-wrap.active
				.row
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking")
							div
								span От 3-х и более месяцев
							ul
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div 
								div 11500 
								div руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking")
							div 
								span От 1-го до 2-x месяцев
							ul 
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div 
								div 12500 
								div руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking")
							div 
								span 7 дней
							ul 
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div 
								div 3200  
								div руб. / нед.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking")
							div 
								span 1 день
							ul 
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div
								div 500 
								div руб. / день


			//Для иных лиц
			#id-2.your-coworking__item-wrap
				.row
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking").your-coworking__item
							.your-coworking__item-header 
								span От 3-х и более месяцев
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 18000 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking").your-coworking__item
							.your-coworking__item-header 
								span От 1-го до 2-x месяцев
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 20000 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking").your-coworking__item
							.your-coworking__item-header 
								span 7 дней
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 6000  
								.your-coworking__item-footer-rub руб. / нед.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking").your-coworking__item
							.your-coworking__item-header 
								span 1 день
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 1000 
								.your-coworking__item-footer-rub руб. / день

			//для участников и соискателей проекта «Сколково»
			#id-3.your-coworking__item-wrap 
				.row
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking").your-coworking__item
							.your-coworking__item-header 
								span От 3-х и более месяцев
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (фиксированное) 
								li.your-coworking__item-listitem С предоставлением юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 18000 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking").your-coworking__item
							.your-coworking__item-header 
								span От 1-го до 2-x месяцев
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (фиксированное) 
								li.your-coworking__item-listitem С предоставлением юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 18000  
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking").your-coworking__item
							.your-coworking__item-header 
								span 7 дней
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (фиксированное) 
								li.your-coworking__item-listitem С предоставлением юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price —  
								//- .your-coworking__item-footer-rub руб. / нед.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_coworking").your-coworking__item
							.your-coworking__item-header 
								span 1 день
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (фиксированное) 
								li.your-coworking__item-listitem С предоставлением юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price — 
								//- .your-coworking__item-footer-rub руб. / день

