section
	.container
		.your-coworking 
			h1.title Выберите свой Коворкинг
			.sandwich 
				.sandwich__select
					span Для участников проекта создания и обеспечения функционирования ИЦ «Сколково» (без юридического адреса)
					.sandwich__select-btn
						i.mdi.mdi-chevron-down

				.sandwich__list 
					.sandwich__item.select Для участников проекта создания и обеспечения функционирования ИЦ «Сколково» (без юридического адреса)
					.sandwich__item Для участников проекта создания и обеспечения
					.sandwich__item Для участников проекта создания и обеспечения2
					.sandwich__item Для участников проекта создания и обеспечения3
			.your-coworking__item-wrap 
				.row
					.col-lg-3
						.your-coworking__item
							.your-coworking__item-header От 3-х и более месяцев

					.col-lg-3
						.your-coworking__item 123
					.col-lg-3
						.your-coworking__item 123
					.col-lg-3
						.your-coworking__item 123
