section
	.container
		.your-coworking 
			h1.title Выберите свой Коворкинг
			.sandwich 
				.sandwich__select
					span Для участников проекта создания и обеспечения функционирования ИЦ «Сколково» (без юридического адреса)
					.sandwich__select-btn
						i.mdi.mdi-chevron-down

				ul.sandwich__list 
					li#forId-0.sandwich__item.select Для участников проекта создания и обеспечения функционирования ИЦ «Сколково» (без юридического адреса)
					li#forId-1.sandwich__item 2 Для участников проекта создания и обеспечения
					li#forId-2.sandwich__item 3 Для участников проекта создания и обеспечения2
					li#forId-3.sandwich__item 4 Для участников проекта создания и обеспечения3

			#id-0.your-coworking__item-wrap.active
				.row
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header От 3-х и более месяцев
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header От 1-го до 2-x месяцев
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header 7 деней
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header 1 день
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.


			#id-1.your-coworking__item-wrap
				.row
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для второго Пункта
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для второго Пункта
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для второго Пункта
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для второго Пункта
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
			#id-2.your-coworking__item-wrap
				.row
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для третьего пункта 
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для третьего пункта 
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для третьего пункта 
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для третьего пункта 
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
			#id-3.your-coworking__item-wrap
				.row
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для 4 пункта 
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для 4 пункта 
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для 4 пункта 
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.
					.col-lg-3.col-md-6
						.your-coworking__item
							.your-coworking__item-header Для 4 пункта 
							ul.your-coworking__item-list 
								li.your-coworking__item-listitem НДС 18%
								li.your-coworking__item-listitem Одно рабочее место (нефиксированное) 
								li.your-coworking__item-listitem Без предоставления юридического адреса
							.your-coworking__item-footer 
								.your-coworking__item-footer-price 11500 
								.your-coworking__item-footer-rub руб. / мес.

