section
	.container
		.your-coworking 
			h1.title Выберите свой Коворкинг
			//- .sandwich 
			//- 	.sandwich__select
			//- 		span Для участников проекта создания и обеспечения функционирования ИЦ «Сколково» (без юридического адреса)
			//- 		.sandwich__select-btn
			//- 			i.mdi.mdi-chevron-down

			//- 	ul.sandwich__list 
			//- 		li#forId-1.sandwich__item.select Участникам проекта создания и обеспечения функционирования ИЦ «Сколково» (без юридического адреса)
			//- 		li#forId-2.sandwich__item Иным лицам
			//- 		li#forId-3.sandwich__item Участникам и соискателям проекта «Сколково»
			.tabs
				ul.tabs__list
					li.tabs__elem
						a.tabs__link.active(href="#", data-tab="#id-3" ) Для участников с полным пакетом услуг
					li.tabs__elem
						a.tabs__link(href="#", data-tab="#id-1" ) Для участников с частичным пакетом услуг
					li.tabs__elem
						a.tabs__link(href="#", data-tab="#id-2" ) Для 3-х лиц с полным пакетом услуг

			#id-1.your-coworking__item-wrap
				.row
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div
								span От 3-х и более месяцев
							ul
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div 
								div 11500 
								div руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div 
								span От 1-го до 2-x месяцев
							ul 
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div 
								div 12000 
								div руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div 
								span 7 дней
							ul 
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div 
								div 3200  
								div руб. / нед.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div 
								span 1 день
							ul 
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div
								div 500 
								div руб. / день


			//Для иных лиц
			#id-2.your-coworking__item-wrap
				.row
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div
								span От 3-х и более месяцев
							ul
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div
								div 18000 
								div руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div 
								span От 1-го до 2-x месяцев
							ul 
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div 
								div 20000 
								div руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div 
								span 7 дней
							ul 
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div 
								div 6000  
								div руб. / нед.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div 
								span 1 день
							ul 
								li НДС 18%
								li Одно рабочее место (нефиксированное) 
								li Без предоставления юридического адреса
							div 
								div 1000 
								div руб. / день

			//для участников и соискателей проекта «Сколково»
			#id-3.your-coworking__item-wrap.active 
				.row
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div 
								span От 3-х и более месяцев
							ul 
								li НДС 18%
								li Одно рабочее место (фиксированное) 
								li С предоставлением юридического адреса
							div 
								div 18000 
								div руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div 
								span От 1-го до 2-x месяцев
							ul 
								li НДС 18%
								li Одно рабочее место (фиксированное) 
								li С предоставлением юридического адреса
							div 
								div 18000  
								div руб. / мес.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div 
								span 7 дней
							ul 
								li НДС 18%
								li Одно рабочее место (фиксированное) 
								li С предоставлением юридического адреса
							div 
								div —  
								//- div руб. / нед.
					.col-lg-3.col-md-6
						a(href="#", data-toggle="modal", data-target="#modal_resident")
							div 
								span 1 день
							ul 
								li НДС 18%
								li Одно рабочее место (фиксированное) 
								li С предоставлением юридического адреса
							div 
								div — 
								//- div руб. / день

